@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

// mobile-first styling: all scss is for mobile devices until media quires

:root {
  --bg: #f5ced0;
  --primary: #e4bcbe;
  --secondary: #e4bcbe;
  --accent: #da0510;
  --font_primary: #000;
  --font_secondary: #5b4b4c;
  --contact_btn_group_filter: invert(10%) sepia(96%) saturate(7090%) hue-rotate(354deg) brightness(85%) contrast(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #232a36;
    --primary: #303848;
    --secondary: #474f5d;
    --accent: #5573b4;
    --font_primary: #fff;
    --font_secondary: #72829f;
    --contact_btn_group_filter: invert(41%) sepia(50%) saturate(517%) hue-rotate(183deg) brightness(95%) contrast(89%);
    --image_filter: brightness(0) saturate(100%) invert(41%) sepia(50%) saturate(517%) hue-rotate(183deg) brightness(95%) contrast(89%);
  }
}

body {
  height: 100vh;
  margin: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", monospace;
  background-color: var(--bg);
}

.block1, .block4 {
  fill: var(--accent);
}

.block2 {
  fill: var(--font_secondary);
  opacity: .5;
}

.block3, .block6 {
  fill: var(--primary);
}

.block5, .block8 {
  fill: var(--font_secondary);
}

.block7 {
  fill: var(--accent);
  opacity: .7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.hero-design {
  display: none;
}

.hero {
  display: grid;
  text-align: center;
  padding: 4em 0 4em 0;
  margin: 6em 0 6em 0;

  .content {
    padding: 0 1em;
  }

  p {
    color: var(--accent);
  }

  h1 {
    color: var(--font_primary);
  }

  h2 {
    color: var(--font_primary);
  }

  .meet p {
    display: flex;
    margin: 0 auto;
    max-width: 50em;

    color: var(--font_secondary);
   }
}

.contact_btn_group {
  padding: 1em 0 0 0;
  overflow: auto;
  white-space: nowrap;
}

.cta_btn {
  background-color: var(--accent);
  border-radius:2em;
  border:2px solid var(--accent);
  display:inline-block;
  cursor:pointer;
  color: var(--bg);
  font-size:17px;
  padding: 1em 1em;
  text-decoration:none;
}

.cta_btn:hover {
  background-color: var(--secondary);
  color: var(--accent);
  border: 2px solid var(--accent);
}

.other_btn {
  background-color: transparent;
  border-radius:2em;
  border:2px solid var(--accent);
  display:inline-block;
  cursor:pointer;
  color: var(--accent);
  font-size:17px;
  padding: 0 1em;
  text-decoration:none;
  position: relative;

  .btn_pic {
    display: none;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 1em;
    top: 1em;
    filter: var(--contact_btn_group_filter);
  }

  p {
    border: none;
    font-size: 17px;
  }
}

.other_btn:hover {
  background-color: var(--secondary);
  border: 2px solid var(--accent);

  p {
    color: var(--accent);
  }
}

.project_btn_group {
  margin: 0 0 2em 0;
}

.project_btn {
  background-color: transparent;
  border-radius:2em;
  border:2px solid var(--accent);
  display:inline-block;
  cursor:pointer;
  color: var(--accent);
  font-size:17px;
  padding: .5em 1em;
  text-decoration:none;
}

.project_btn:hover {
  color: var(--font_primary);
  border: 2px solid var(--font_primary);
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
  background-color: var(--primary);
  margin: 2em;
  border-radius: 1em;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--accent);
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: var(--font_primary);
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: var(--font_secondary);
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills-container ul li {
  background: var(--primary);
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    &.one {
      width: 10em;
    }

    &.two {
      width: 10em;
    }

    &.three {
      width: 6em;
    }
  }

  .skill-title {
    color: var(--font_primary);
    font-weight: bold;
  }

  .skill-desc { //----------------------// featured-desc
    margin-bottom: 2em;
  }
}

.portfolio {
  margin: 4em 0 0 0;
}

.portfolio-container {
  background-color: var(--primary);
  border-radius: 1em;
  margin-bottom: 2em;
  padding: 2em;
}

@media only screen and (min-width: 800px) {
  .cta_btn {
    padding: 1em 2em;
  }

  .other_btn {
    padding: 1em 2em;

    .btn_pic {
      display: unset;
    }

    p {
      margin: 0 0 0 1em;
    }
  }

  .featured, .portfolio {
    text-align: left;
  }

  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 85vh;
  }

  section {
    padding: 4em;
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;

    .content {
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -20%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  section {
    padding: 2em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  //section {
  //  padding: 10em 20em 4em 20em;
  //}

  .hero .content {
    position: relative;
    padding: 9em 10em 6em 8em;
  }

  .meet {
    position: absolute;
    justify-content: left;
  }

  .contact_btn_group {
    position: absolute;
    margin: 5em 0 0 0;
  }
}