@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", monospace, arial, sans-serif;
  background-color: #0a192f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container a {
  color: #ccd6f6;
  display: inline;
}
.nav-container a:hover {
  color: #64ffda;
  text-decoration: underline;
}
.nav-container p {
  display: inline;
  color: #64ffda;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 2em 1em;
}
header .logo {
  display: inline-flex;
  width: 3em;
  margin: -2em 0 0 0;
}
header ul {
  display: flex;
}
header ul li {
  padding: 0 0.5em;
}
header ul a {
  display: inline-block;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  display: grid;
  text-align: center;
  padding: 4em;
}
.hero p {
  color: #64ffda;
}
.hero h1 {
  color: #ccd6f6;
}
.hero h2 {
  color: #8892b0;
}
.hero .meet p {
  display: flex;
  margin: 0 auto;
  max-width: 50em;
  color: #8892b0;
}

.buttons {
  padding: 1em 0 0 0;
}

.cta_btn {
  background-color: #64ffda;
  border-radius: 42px;
  border: 2px solid #64ffda;
  display: inline-block;
  cursor: pointer;
  color: #0a192f;
  font-size: 17px;
  padding: 1em 2em;
  text-decoration: none;
}

.cta_btn:hover {
  background-color: rgba(100, 255, 218, 0.1);
  color: #64ffda;
  border: 2px solid #64ffda;
}

.other_btn {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid #64ffda;
  display: inline-block;
  cursor: pointer;
  color: #64ffda;
  font-size: 17px;
  padding: 0 1em;
  text-decoration: none;
  position: relative;
}
.other_btn .btn_pic {
  display: none;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 1em;
  top: 1em;
  filter: invert(78%) sepia(52%) saturate(409%) hue-rotate(106deg) brightness(102%) contrast(102%);
}
.other_btn p {
  border: none;
  font-size: 17px;
}

.other_btn:hover {
  background-color: rgba(100, 255, 218, 0.1);
  border: 2px solid #64ffda;
}
.other_btn:hover p {
  color: #64ffda;
}

section {
  padding: 4em 2em;
  text-align: center;
  background: #0a192f;
}

.featured {
  position: relative;
  background-color: #fff !important;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills-container ul li {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.skills-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.skills-container ul li .icon-container.one {
  width: 50px;
}
.skills-container ul li .icon-container.two {
  width: 100px;
}
.skills-container ul li .icon-container.three {
  width: 60px;
}
.skills-container ul li .skill-title {
  font-weight: bold;
}
.skills-container ul li .skill-desc {
  margin-bottom: 2em;
}

.portfolio {
  background-color: #fff;
  margin: 4em 0 0 0;
}

.portfolio-container {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .other_btn {
    padding: 1em 2em;
  }
  .other_btn .btn_pic {
    display: unset;
  }
  .other_btn p {
    margin: 0 0 0 1em;
  }

  .featured, .portfolio {
    text-align: left;
  }

  .featured, .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left, .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }

  header {
    padding: 2em 2em 2em 2em;
  }

  .social-header {
    padding: 2em 4em 2em 0;
  }

  section {
    padding: 4em;
  }

  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    margin-left: -20%;
    margin-top: 15%;
    width: 100%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 2em;
  }

  .social-header {
    padding: 2em 10em 2em 0;
  }

  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 2em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }

  section {
    /* try 6em instead of 10em */
    padding: 10em 20em 4em 20em;
  }

  .hero .content {
    position: relative;
    padding: 9em 10em 6em 8em;
  }

  .meet {
    position: absolute;
    justify-content: left;
  }

  .buttons {
    position: absolute;
    margin: 5em 0 0 0;
  }
}

/*# sourceMappingURL=styles.css.map */
